 .scene-section .fullscreen-grid-section {
    width: 100%;
    padding:1rem;
    overflow: hidden;
  }
  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .grid-item {
    position: relative;
    border-radius:20px;
    height: 500px;
    overflow: hidden;
  }
  .grid-item:hover .grid-image {
    /*transform: scale(1.05);*/
  }
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
  }
  .grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.3s ease;
  }
  .placeholder-image {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .content-wrapper {
    position: absolute;
    width:100%;
    top: 50px;
    left: 50%;
    padding:0px 20px;
    transform: translate(-50%, 0%);
    display: flex;
    flex-flow: column;
    text-align: center;
    z-index: 2;
  }
  .content-wrapper h2,.content-wrapper h4{
    line-height: 22px;
    color:#fff
  }
  .content-wrapper .grid-title{line-height: 48px;font-size: 40px;font-family: 'Inter';font-weight: 700;}
  .content-wrapper .grid-des{margin-top:6px;line-height: 22px;font-size: 18px;font-family: 'Inter';font-weight: 500;}
  .content-wrapper .links{margin-top:26px;padding:10px 20px;max-width: 178px;height:40px;left: 50%;transform: translateX(-50%);}
    @media screen and (min-width: 2560px) and (max-width: 3839px) {
      .grid-item {
        height: 800px;
      }
    }

    /* 4K/UHD 屏幕 (3840x2160) */
    @media screen and (min-width: 3840px) {
      .grid-item {
        height: 900px;
      }
    }

    /* 5K/8K 超高清屏幕 */
    @media screen and (min-width: 5120px) {
      .grid-item {
        height:1200px;
      }
    }
   @media screen and (max-width: 1400px) {
     .grid-item{border-radius: 8px;height:400px;}
  }

  @media screen and (max-width: 820px) {
    .grid-item{border-radius: 8px;height: 320px;}
  }
  @media screen and (max-width: 749px) {
    .scene-section .fullscreen-grid-section{ padding: 3rem 2rem 0rem 2rem;}
    .grid-container {
      gap: 1.5rem;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: auto;
      
    }
    .content-wrapper{top:29px;white-space: pre-line; }
    .content-wrapper .grid-title{line-height: 29px;font-size: 24px;}
    .content-wrapper .grid-des{margin-top:2px;line-height: 17px;font-size:14px;}
    .content-wrapper .links{max-width: 104px;margin-top:20px;line-height: 15px;font-size:12px}
    .content-wrapper .btn {        height: 3rem;}
  }
