.contact {
  flex: 1;
}
.contact__wrapper {
  /* max-width: 66rem; */
  /* padding: 4.8rem 1.5rem; */
  margin: 0 auto;
  padding:1.5rem;
  background: #fff;
}
.contact__title {
  text-align: left;
}
.contact-desc{ margin-top:12px; padding-bottom: var(--header-padding-bottom);line-height:19px;font-size: 16px;color: #999;font-weight: 500;}
.contact-form-box{gap: 56px;}
.contact-form-box .form-control{ border-radius: 0.5rem;border-color: #C2C2C2;}
.contact-methods li{display: flex;align-items: center;margin-bottom:58px;gap:22px;line-height:19px;font-size: 16px;font-weight: 500;}
.contact-methods li strong{display: block;color:#000}
.contact-methods li span{ color: #666;}
.contact__fields .form-field--full{text-align: left;}
.form-required-indicator{margin-left: -4px;}
@media (max-width: 767.98px) {
  .contact__wrapper{padding:2rem}
  .contact-desc{padding-bottom: var(--header-padding-bottom-mobile);}
  .contact-form-box{ flex-flow: column;}
}
.contact__button {
  margin-top: 1.6rem;
}
.contact__fields {
  --column-gap: 3rem;
  --row-gap: 2.4rem;
  --row-gap-mobile: 1.6rem;
}
.contact__fields .form-field {
  margin-top: 0;
}
@media (min-width: 768px) {
  .contact__fields .form-field--full {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (min-width: 768px) {
  .contact__fields .form-control--textarea {
    min-height: 18rem;
  }
}

.contact-form__wrapper {
  display: flex;
}
@media (max-width: 767.98px) {
  .contact-form__wrapper {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .contact-form__info {
    flex: 0 0 39%;
  }
}
.contact-form .card-media,
.contact-form .card-media__media {
  height: 100%;
}
