.section--slideshow.page-width .page-width {
  padding: 0 1.5rem;
}
.section--slideshow.page-width .slideshow-layout--split .page-width {
  padding: 0;
}
@media (max-width: 767.98px) {
  .section--slideshow.page-width .slideshow-layout--split .page-width:not(.color-scheme-inherit) {
    padding: 0 1.5rem;
  }
}

.slideshow-wrapper {
  --swiper-pagination-bottom: 3rem;
  position: relative;
  display: block;
}
.slideshow-wrapper video {
  object-fit: cover;
  object-position: center;
}
.slideshow-wrapper.slideshow-controls-position--below {
  padding-bottom: 4rem;
  --swiper-pagination-bottom: 0;
}
.slideshow-wrapper.slideshow-controls-position--below .swiper-pagination {
  --color-swiper-controls: 0, 0, 0;
}
.slideshow-wrapper .swiper-pagination {
  --color-swiper-controls: var(--color-foreground);
}
.slideshow-wrapper:not(.slideshow-layout--split) .slideshow__content {
  justify-content: center;
  background: none;
  width: 100%;
}
.slideshow-height--small {
  --slide-height: 28rem;
}
.slideshow-height--medium {
  --slide-height: 34rem;
}
.slideshow-height--large {
  --slide-height: 42rem;
}
.slideshow-height--adapt .slideshow__content {
  position: absolute;
  width: auto !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .slideshow-height--small {
    --slide-height: 52rem;
  }
  .slideshow-height--medium {
    --slide-height: 62rem;
  }
  /* .slideshow-height--large {
    --slide-height: 72rem;
  } */
  .slideshow-height--large {
    --slide-height: 80rem;
  }
}
@media (min-width: 768px) {
  .slideshow-layout--centered .page-width {
    padding: 0 3.2rem;
  }
  .slideshow-layout--centered .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .slideshow-layout--centered:not(.swiper-initialized) .swiper-wrapper {
    display: flex;
    justify-content: center;
  }
  .slideshow-layout--centered:not(.swiper-initialized) .swiper-slide {
    margin: 0 0.5rem;
    flex: 0 0 auto;
  }
}
@media (min-width: 1024px) {
  .slideshow-layout--centered .swiper-slide {
    width: 69.88%;
  }
}
.slideshow-layout--split {
  --split-width: 34.65%;
  --split-content-gap-x: 1.5rem;
}
.slideshow-layout--split.slideshow-controls-position--bottom .swiper-pagination {
  padding-inline: var(--split-content-gap-x);
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .slideshow-layout--split .slideshow__bg {
    height: auto;
    width: calc(100% - var(--split-width));
  }
  .slideshow-layout--split .slideshow__content {
    position: static;
    width: var(--split-width) !important;
    order: -9;
    padding: 0;
  }
  .slideshow-layout--split .slideshow__text {
    padding: 6rem var(--split-content-gap-x);
    max-width: 100%;
  }
  .slideshow-layout--split.slideshow-controls-position--bottom .swiper-pagination {
    width: var(--split-width);
    inset-inline-start: 0;
  }
}
@media (min-width: 1280px) {
  .slideshow-layout--split {
    --split-content-gap-x: 6rem;
  }
}
.slideshow-layout--standard.slideshow-controls-position--bottom .slideshow__content[class*="--bottom-"] .slideshow__text {
  padding-bottom: 10rem;
}
@media (min-width: 1280px) {
  .slideshow-layout--standard .slideshow__content:not(.slideshow__content--in-container) {
    --page-padding: 5rem;
  }
}
.slideshow__content {
  min-height: 100%;
}
.slideshow__item-wrap {
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: var(--slide-height, 0);
}
  @media screen and (min-width: 2117px){
    .slideshow__item-wrap {
       min-height:88rem;
    }
  }
   @media screen and (min-width: 2300px){
    .slideshow__item-wrap {
       min-height:99rem;
    }
  }
  @media screen and (min-width: 2560px){
    .slideshow__item-wrap {
       min-height:106rem;
    }
  }
 @media screen and (min-width: 2561px) and (min-width: 3839px) {
    .slideshow__item-wrap {
       min-height:1180px;
    }
  }

  /* 4K/UHD 屏幕 (3840x2160) */
  @media screen and (min-width: 3840px) {
    .slideshow__item-wrap {
       min-height: 1588px;
    }
  }

  /* 5K/8K 超高清屏幕 */
  @media screen and (min-width: 5120px) { 
    .slideshow__item-wrap {
       min-height:2200px;
    }
  }
  @media screen and (min-width: 7620px) { 
    .slideshow__item-wrap {
       min-height:3200px;
    }
  }

  @media (max-width: 1450px) {
      .slideshow__item-wrap {
        min-height:62rem;
      }
  }
  @media (max-width: 1280px) {
      .slideshow__item-wrap {
        min-height:52rem;
      }
  }
.slideshow__bg {
  z-index: -1;
}
/* .slideshow__text {
  padding: 3.2rem 0;
} */

@media (min-width: 1024px) {
  .slideshow-wrapper {
    --swiper-pagination-bottom: 4.5rem;
  }
}
@media (min-width: 768px) {
  .slideshow-wrapper:not(.slideshow-layout--split) .slideshow__bg:before, .slideshow-wrapper.slideshow-layout--split:not(.slideshow-height--adapt) .slideshow__bg:before {
    display: none;
  }
  .slideshow__text {
    max-width: 50%;
  }
}
@media (max-width: 767.98px) {
  .slideshow-wrapper.slideshow-layout--split .slideshow__item-wrap, .slideshow-wrapper.slideshow-content-mobile--below .slideshow__item-wrap {
    flex-direction: row;
    min-height: 50rem;
  }
  .slideshow-wrapper.slideshow-layout--split .slideshow__item-wrap:before, .slideshow-wrapper.slideshow-content-mobile--below .slideshow__item-wrap:before {
    display: none;
  }
  .slideshow-wrapper.slideshow-layout--split .slideshow__bg, .slideshow-wrapper.slideshow-content-mobile--below .slideshow__bg {
    /* position: relative !important; */
    width: 100%;
  }
  .slideshow-wrapper.slideshow-layout--split .slideshow__bg:before, .slideshow-wrapper.slideshow-content-mobile--below .slideshow__bg:before {
    content: "";
    height: 0;
    display: block;
    padding-top: calc(100% / (0 + var(--aspect-ratio-mobile, var(--aspect-ratio, 1.3333333333))));
  }
  .slideshow-wrapper.slideshow-layout--split .slideshow__content, .slideshow-wrapper.slideshow-content-mobile--below .slideshow__content {
    position: absolute;
    top:4.6rem;
    justify-content: start;
  }
  .slideshow-wrapper.slideshow-content-mobile--below:not(.slideshow-layout--split).slideshow-controls-visible--yes {
    padding-bottom: 0rem;
    --swiper-pagination-bottom: 0;
  }
  .slideshow-wrapper.slideshow-content-mobile--below:not(.slideshow-layout--split) .swiper-pagination {
    padding: 0 1.5rem;
    --color-swiper-controls: 0, 0, 0;
    bottom:3.5rem
  }
  .slideshow-wrapper.slideshow-layout--split {
    padding-bottom: 0;
    --swiper-pagination-bottom: 4.8rem;
  }
  .slideshow-wrapper.slideshow-layout--split .slideshow__text {
    padding: 4.8rem 0;
  }
  .slideshow-wrapper.slideshow-layout--split.slideshow-controls-visible--yes .slideshow__text {
    padding-bottom: 10.6rem;
  }
  .slideshow-wrapper.slideshow-layout--split .swiper-pagination {
    --color-swiper-controls: var(--color-foreground);
  }
  .slideshow-layout--centered .slideshow__bg {
    left: 1.5rem;
    right: 1.5rem;
    width: calc(100% - 3rem) !important;
  }
}
