.section-image-gallery {margin-top:-1px}
.section-image-gallery .social-icon {
  background: #fff;
  color: #000;
  pointer-events: none;
}
.section-image-gallery .content-overlay {
  opacity: 0;
  transition: all 0.3s;
}
.section__description{margin-top:14px;}
.section-image-gallery .hd2{ line-height:56px;font-size:46px;}
.section-image-gallery .text-lg{ line-height:22px;font-size:18px;}
.section-image-gallery .tit{ position: absolute;bottom: 24px;padding: 0px 24px;width:100%;line-height:29px;font-size: 24px;font-weight: 700;text-align: center;color:#fff}
.rte p:last-child{color:inherit}
@media (prefers-reduced-motion: no-preference) and (hover: hover) and (pointer: fine) {
  .section-image-gallery .media-wrapper:hover .content-overlay {
    opacity: 1;
  }

}
@media (max-width: 767px){
  .section-image-gallery {padding-top: {{ section.settings.padding_top | divided_by: 2  }}px;padding-bottom: {{ section.settings.padding_bottom | divided_by: 2  }}px;}
  .section-image-gallery .hd2{ line-height:34px;font-size:28px;text-align: left;}
  .section-image-gallery .text-lg{ line-height:19px;font-size:16px;text-align: left;}
  .section-image-gallery .tit{ bottom: 12px; padding: 0px 12px;line-height:17px;font-size:14px;}
}