.collage-tab__image {
  width: 100%;
}
.collage-tab__content {
  max-width: 100%;
  padding: 4.8rem 2rem;
  word-wrap: break-word;
}
.collage-tab__content-inner {
  /* width: 57rem; */
  max-width: 100%;
  margin: 0 auto;
}
  .collage-tab__content-inner p{ line-height: 19px;font-size: 16px;color: #666666;}
@media (min-width: 768px) {
  .collage-tab__content-inner p{font-family: 'Inter';line-height: 22px;font-size: 18px;color: #666666;}
  .collage-tab__image {
    width: var(--tab-image-width, 50%);
  }
  .collage-tab__content {
    max-width: calc(100% - var(--tab-image-width, 50%));
    padding: 4.8rem 3.2rem;
  }
}
